<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ae68ea7-fd86-43f4-b9d3-26f1c64e016e" Alias="Base Page - Grid Content - Block Grid" Level="1">
  <Info>
    <Name>Base Page - Grid Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "name": "Demo Blocks"
    }
  ],
  "blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "e6fe2e86-4f0b-47c1-b4ba-c4beb49943bc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "b2cb4b71-0b46-4259-b999-811991e2b36d",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "cf895573-6cf6-4345-89e9-bc68438b03a1",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "98b3a50f-1496-4a9d-b863-f150b1032e83",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "46a370af-6c5a-482e-a0ff-d67a4f027a64",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "e57a07f8-2046-4ac6-8f5d-ce0ae9863ce7",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "createLabel": null,
  "gridColumns": null,
  "layoutStylesheet": null,
  "maxPropertyWidth": null,
  "useLiveEditing": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>