<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e5b0c8e-7e82-4e87-92b8-b31895c32b1e" Alias="Markdown Block - Markdown - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Markdown Block - Markdown - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>