<?xml version="1.0" encoding="utf-8"?>
<Media Key="102b4645-f186-413f-aa26-6a0a3278e001" Alias="Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-25T23:26:42</CreateDate>
    <NodeName Default="Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/indcweeg/icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>